/Library/
# Игнорирование кеша и временных файлов
/Library/
*/Logs/
*/Temp/
*/Build/
*/obj/
# Игнорирование специфичных для платформ файлов
*.apk
*.aab
*.exe
*.app
*.ipa
# Игнорирование настроек пользователя
/UserSettings/

/Logs/
*/Logs/
*/Temp/

